@import "tailwindcss";

:root {
	--background: #171717;
	--foreground: #ffffff;
	user-select: none;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@layer utilities {
	@media (max-height: 640px) and (orientation: landscape) {
		.sm-landscape-countdown {
			opacity: 0;
			position: absolute;
		}
		.sm-landscape-grid {
			grid-template-rows: 1fr 1fr;
		}
		.sm-landscape-thank-you {
			position: static;
		}
	}
	@media (min-height: 640px) and (orientation: landscape) {
		.sm-landscape-countdown {
			opacity: 1;
			position: static;
		}
		.sm-landscape-grid {
			grid-template-rows: 1fr 1fr 1fr;
		}
	}
	@media (min-height: 640px) {
		.sm-landscape-thank-you {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

@layer utilities {

	.header-text-shadow {
		text-shadow: 
			4px 4px 0 #FF8BD3,
			5px 5px 0 #C44AAE
	}

}

body {
	background: var(--background);
	color: var(--foreground);
}