@import "tailwindcss";

:root {
	user-select: none;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@layer utilities {
	@media (max-height: 640px) and (orientation: landscape) {
		.sm-landscape-countdown {
			opacity: 0;
			position: absolute;
		}
		.sm-landscape-grid {
			grid-template-rows: 1fr 1fr;
		}
		.sm-landscape-thank-you {
			position: static;
		}
		.sm-landscape-text {
			visibility: hidden;
		}
		.sm-landscape-text-container {
			padding-bottom: 40;
		}
	}
	@media (min-height: 640px) and (orientation: portrait) {
		.sm-landscape-countdown {
			opacity: 1;
			position: static;
		}
		.sm-landscape-grid {
			grid-template-rows: 1fr 1fr 1fr;
		}
		.sm-landscape-text {
			visibility: visible;
		}
		.sm-landscape-text-container {
			padding-bottom: 100;
		}
	}
	@media (min-height: 640px) {
		.sm-landscape-thank-you {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

@layer utilities {

	.header-text-shadow {
		text-shadow: 
			4px 4px 0 #FF8BD3,
			5px 5px 0 #C44AAE
	}
	
}

.scrollbar::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
}

.scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.183);
	border-radius: 100vw;
	width: 1px;
	height: 1px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.358);
}

body {
	background: #000;
	color: white;
}