@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	user-select: none;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer utilities {

	.header-text-shadow {
		text-shadow: 
			4px 4px 0 #FF8BD3,
			5px 5px 0 #C44AAE
	}

}

body {
	background: var(--background);
	color: var(--foreground);
}